{% extends 'base2.html' %}
{% load static %}
{% block body %}

    <section class="banner">
        <div class="inner text-light">
            <h1 style="font-weight: 600;">Search Freelancers</h1>
        </div>
        <style type="css/text">
            .banner{
                height: 50vh;
                background-image: url('{% static 'images/colorbnr.jpg'%}');
                background-size: cover;
                background-attachment: fixed;


            }
        

            .headtext {
                font-size: 80px;
            }

            .inner {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            @media all and (max-width: 500px) {
                .banner {
                    height: 25vh;


                }

                .headtext {
                    font-size: 30px;
                }
            }

            .flex {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
    </section>
    <section class="category container">
        <div class="row category0">
            <div class="col-lg-2 flex m-0">
                <h6 class="py-3 wgt" >Browse job category</h6>
            </div>

            <div class="col-lg-2 row m-0">
                <div class="col-2 container-fluid flex">
                    <div>
                        <div class="bg-danger m-0" style="width: 35px ; height:35px; border-radius: 35px;">
                            <img src="https://img.icons8.com/color/48/000000/pen.png" width="100%" height="100%" />
                        </div>

                    </div>


                </div>
                <div class="col-10 flex flex-column p-2 m-0 gry">
                    <h6 class="p-0 m-0 wgt">3D Design</h6>
                    <p class="p-0 m-0" style="color: rgb(151, 151, 151);">20 Items</p>
                </div>
            </div>

            <div class="col-lg-2 row m-0">
                <div class="col-2 container-fluid flex">
                    <div>
                        <div class="bg-danger m-0" style="width: 35px ; height:35px; border-radius: 35px;">
                            <img src="https://img.icons8.com/color/48/000000/paint-palette-with-brush.png" width="100%"
                                height="100%" />
                        </div>

                    </div>


                </div>
                <div class="col-10 flex flex-column p-2 m-0 gry">
                    <h6 class="p-0 m-0 wgt">Logo Design</h6>
                    <p class="p-0 m-0" style="color: rgb(151, 151, 151);">20 Items</p>
                </div>
            </div>

            <div class="col-lg-2 row m-0">
                <div class="col-2 container-fluid flex">
                    <div>
                        <div class="bg-danger m-0" style="width: 35px ; height:35px; border-radius: 35px;">
                            <img src="https://img.icons8.com/color/48/000000/adobe-photoshop--v1.png" width="100%"
                                height="100%" />
                        </div>

                    </div>


                </div>
                <div class="col-10 flex flex-column p-2 m-0 gry">
                    <h6 class="p-0 m-0 wgt">Photoshop</h6>
                    <p class="p-0 m-0" style="color: rgb(151, 151, 151);">20 Items</p>
                </div>
            </div>

            <div class="col-lg-2 row m-0">
                <div class="col-2 container-fluid flex">
                    <div>
                        <div class="bg-danger m-0" style="width: 35px ; height:35px; border-radius: 35px;">
                            <img src="https://img.icons8.com/color/48/000000/workstation.png" width="100%"
                                height="100%" />
                        </div>

                    </div>


                </div>
                <div class="col-10 flex flex-column p-2 m-0 gry">
                    <h6 class="p-0 m-0 wgt">UI Design</h6>
                    <p class="p-0 m-0" style="color: rgb(151, 151, 151);">20 Items</p>
                </div>
            </div>

            <div class="col-lg-2 row m-0">
                <div class="col-2 container-fluid flex">
                    <div>
                        <div class="bg-danger m-0" style="width: 35px ; height:35px; border-radius: 35px;">
                            <img src="https://img.icons8.com/color/48/000000/drawing--v2.png" width="100%"
                                height="100%" />
                        </div>

                    </div>


                </div>
                <div class="col-10 flex flex-column p-2 m-0 gry">
                    <h6 class="p-0 m-0 wgt">Drawing</h6>
                    <p class="p-0 m-0" style="color: rgb(151, 151, 151);">20 Items</p>
                </div>
            </div>



        </div>




        <style>
            .wgt{
                font-weight: 600;
            }
            .category0 .col-lg-2 {
                border: 1px solid rgb(198, 198, 198);

            }
            @media all and (max-width: 500px) {
                .gry{
                    background-color: rgb(235, 235, 235);
                    border-left: 5px solid rgb(255, 5, 72);
                    border-bottom-left-radius:20px ;
                    border-top-left-radius: 20px;
                    
                }
            }
        </style>
    </section>

    <section class="freelist container">
        <div class="freelist0 row">
            <div class="col-lg-3 p-0 py-3 m-0">
                <div class="accordion m-0 p-0"  id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button  collapsed " type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseOne">
                                Filter Freelancers by
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body flex flex-column">
                                <div class="w-100">
                                    <p>Start your search</p>
                                </div>
                                <div class="w-100">
                                    <form class="d-flex w-100" style="border: 1px solid rgb(190, 190, 190);">
                                        <input class="px-3 me-0 rounded-0 search border-0" type="search"
                                            placeholder="Type Keyword" aria-label="Search">
                                        <button class=" p-2 rocket"
                                            style="background-color: white; border: 0; color: rgb(255, 5, 72);"
                                            type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                Freelancer Type(0 Selected)
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and hiding
                                via CSS transitions. You can modify any of this with custom CSS or overriding our
                                default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseThree">
                                Hourly Rate
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="a1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#hr" aria-expanded="false" aria-controls="hr">
                                Industrial experiences:( 0 selected )
                            </button>
                        </h2>
                        <div id="hr" class="accordion-collapse collapse" aria-labelledby="a1">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="a2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#b2" aria-expanded="false" aria-controls="b2">
                                Specialization:( 0 selected )
                            </button>
                        </h2>
                        <div id="b2" class="accordion-collapse collapse" aria-labelledby="a2">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="a3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#b3" aria-expanded="false" aria-controls="b3">
                                Skills:( 0 selected )
                            </button>
                        </h2>
                        <div id="b3" class="accordion-collapse collapse" aria-labelledby="a3">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="a4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#b4" aria-expanded="false" aria-controls="b4">
                                English Level:( 0 selected )
                            </button>
                        </h2>
                        <div id="b4" class="accordion-collapse collapse" aria-labelledby="a4">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="a5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#b5" aria-expanded="false" aria-controls="b5">
                                Location:( 0 selected )
                            </button>
                        </h2>
                        <div id="b5" class="accordion-collapse collapse" aria-labelledby="a5">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="a6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#b6" aria-expanded="false" aria-controls="b6">
                                Languages:( 0 selected )
                            </button>
                        </h2>
                        <div id="b6" class="accordion-collapse collapse" aria-labelledby="a6">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-9 ">
                <div class="freelancers">
                    <section class="dropdowns ">



                        <nav class="navbar navbar-expand-lg navbar-light mt-3">
                            <div class="container-fluid p-0">

                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="">
                                        <i class="fa-solid fa-filter"></i>
                                    </span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                        <li class="nav-item mt-3 mt-lg-0">
                                            <div class="">
                                                <button class="btn btn-outline-secondary abc" href="#" role="button"
                                                    id="dropdownMenuLink">

                                                    Sort by A-Z </i>
                                                </button>


                                            </div>
                                        </li>

                                        <li class="nav-item mt-3 mt-lg-0 ms-lg-2">
                                            <div class="">
                                                <button class="btn btn-outline-secondary abc" href="#" role="button"
                                                    id="dropdownMenuLink">

                                                    <i class="fa-solid fa-chevron-down  pe-lg-2"></i> Sort by rating SAC
                                                </button>


                                            </div>
                                        </li>




                                    </ul>


                                </div>
                            </div>
                        </nav>


                        <style>
                            .abc {
                                width: 220px;
                            }

                            .abcd {
                                width: 200px;
                            }

                            @media all and (max-width: 500px) {

                                .abc,
                                .abcd {
                                    width: 100%;
                                }


                            }
                        </style>
                    </section>
                   {% for p in person %}
                    <section class="listfree pb-3 ">
                        <a href="{% url 'profile' p.id %}">
                        <div class="listfree0 shadow w-100 p-3 mb-3 mt-1 ">
                            <div class="row">
                                <div class="col-2">
                                    <img src="{{p.profile_pic.url}}" style="width:80px ;" alt="">
                                </div>
                                <div class="col-lg-6 pt-3 text-dark">
                                    <h6>{{p.full_name}}</h6>
                                    <h5>{{p.service}}</h5>
                                    <div class="row ">
                                        <div class="col-4 flex justify-content-start grybdr">
                                            <p style="color: gray;" class="m-0 p-0">$ 650.00 / hr</p>
                                        </div>
                                        <div class="col-4 flex grybdr ">
                                            <img src="https://cdn.britannica.com/97/1597-004-05816F4E/Flag-India.jpg"
                                                width="20px" alt="">
                                            <p style="color: gray;" class="m-0 px-2"> India</p>
                                        </div>
                                        <div class="col-4 flex ">
                                            <i class="fa-solid fa-heart" style="color: rgb(255, 5, 72);"></i>
                                            <p style="color: gray;" class="m-0 px-2">Save</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 flex flex-column text-dark">
                                    <div class="star pt-3 px-lg-3">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <p>(10 Feedback)</p>
                                </div>
                            </div>

                            <p class="pt-2 pt-lg-2 text-dark" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero omnis quaerat velit aperiam veritatis repudiandae cum vel commodi porro eveniet, praesentium ab neque facilis </p>
                            <div>
                                <p class="btn btn-outline-secondary px-5 mx-2 bob">{{p.proffecional_title}}</p>
                                <p class="btn btn-outline-secondary px-5 mx-2 bob"> HTML</p> 
                                <p class="btn btn-outline-secondary px-5 mx-2 bob"> Photoshop</p>
                                <p class="btn btn-outline-secondary px-5 mx-2 bob"> Figma</p>
                                <p class="btn btn-outline-secondary px-2 mx-2 bob"> ... </p>
                            </div>

                        </div>
                    </a>
{% comment %} 
                    <a href="{% url 'profile'%}">
                        <div class="listfree0 shadow w-100 p-3 mb-3 mt-1 ">
                            <div class="row">
                                <div class="col-2">
                                    <img src="{% static 'images/prof.png'%}" alt="">
                                </div>
                                <div class="col-lg-6 pt-3 text-dark">
                                    <h6>Jessica Stive</h6>
                                    <h5>Making it all make sense</h5>
                                    <div class="row ">
                                        <div class="col-4 flex justify-content-start grybdr">
                                            <p style="color: gray;" class="m-0 p-0">$ 650.00 / hr</p>
                                        </div>
                                        <div class="col-4 flex grybdr ">
                                            <img src="https://cdn.britannica.com/97/1597-004-05816F4E/Flag-India.jpg"
                                                width="20px" alt="">
                                            <p style="color: gray;" class="m-0 px-2"> India</p>
                                        </div>
                                        <div class="col-4 flex ">
                                            <i class="fa-solid fa-heart" style="color: rgb(255, 5, 72);"></i>
                                            <p style="color: gray;" class="m-0 px-2">Save</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 flex flex-column text-dark">
                                    <div class="star pt-3 px-lg-3">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <p>(10 Feedback)</p>
                                </div>
                            </div>

                            <p class="pt-2 pt-lg-2 text-dark" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero omnis quaerat velit aperiam veritatis repudiandae cum vel commodi porro eveniet, praesentium ab neque facilis </p>
                            <div>
                                <p class="btn btn-outline-secondary px-5 mx-2 bob"> CSS</p>
                                <p class="btn btn-outline-secondary px-5 mx-2 bob"> HTML</p> 
                                <p class="btn btn-outline-secondary px-5 mx-2 bob"> Photoshop</p>
                                <p class="btn btn-outline-secondary px-5 mx-2 bob"> Figma</p>
                                <p class="btn btn-outline-secondary px-2 mx-2 bob"> ... </p>
                            </div>

                        </div>
                    </a> {% endcomment %}


                 {% endfor %}       

                    </section>

                </div>
            </div>
        </div>

        <style>
            .accordion-button {
                background-color: rgba(230, 230, 230, 0.538);
            }

            .grybdr {
                border-right: 1px solid rgb(200, 200, 200);
            }
            .star {
                color: rgb(228, 228, 228);
                text-shadow: 1px 1px 1px black;
            }

            .checked {
                color: rgb(255, 5, 72);
            }
            .listfree0{
                border: 1px solid rgb(190, 190, 190);
                border-radius: 10px;
            }
            .listfree0:hover{
                background-color: rgba(231, 224, 72, 0.21);
            }
            .bob{
                border-radius: 15px;
            }
        </style>
    </section>

    {% endblock %}